:root {
    /*Typographie*/
    --primary-font: "Tenor Sans", serif;
}

.titre {
    font-family: var(--primary-font);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.close-btn:hover {
    color: red;
}

